:root{
  --headind-color: #5A6275;
  --text-color: #979da9;
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Lora", serif;
}

:target{
  scroll-margin-top: 76px;
}


.main{
background-color: #F8F9FA;
}

.text {
  height: auto;
  display: flex;
  flex-direction: column;
 }

.content {
  margin-top: auto;
}
span{
  display: block;
}

h1 {
  font-family: var(--heading-font);
  font-size: 50px;
  text-align: left;
  text-transform: uppercase;
  color: var(--headind-color);
}

h2 {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color)


}
.portfolio_photo {
  width: 500px; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
  margin: 15px 0px;
}
hr{
  margin-top: 0;

}
.number{
  font-size: 15vw;
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
}

#my_projects{
  margin-top: 30px;
  font-family: var(--heading-font);
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
  color: var(--text-color)

}

.about-me__focus_line{
  border: 0;
  width: 10%; 
  background-color:#E56F82; 
  height: 2px;
  opacity: 1;
  }

  .my-projects__focus_line{
       max-width: 150px;
    margin: 0 0 0 85%;
    border: 0;
  
  background-color:#E56F82; 
  height: 2px;
  opacity: 1;
}


p {
  font-family: var(--text-font);
}

li{
  font-family: var(--text-font);
}

.about_titles{
  text-align: center;
}

.image-container{
height: 150px;
}

.edu_images{
  display: block;
  margin: 30px auto;
}
.card-title{
  font-family: var(--heading-font);
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color)
}

.my-projects__cards{
  margin: 0 5%;
}
.education_cards{
margin: 0 auto;
display: block;
}
.know-more__links{
color: #E56F82;
text-transform: uppercase;
letter-spacing: .2rem;
text-decoration: none;

}

.contact-me__container{
  margin: 5% 5%;
}
.contact-me_links{
color: #E56F82;
letter-spacing: .2rem;
text-decoration: none;
}
.border-end{
   border-color: #e56f82 !important;

  }

  @media(max-width:560px){
    .number{
      font-size: 30vw;
      padding-top: 0;

    }
    .main-part__griiting{
      display: none;
    }
    .text{
      padding-top: 20px;
    }
    .border-end{
      border-color:transparent !important;
    }
  }
  @media(max-width:1200px){
    .contact-me_links{
      word-break: break-all;
    }
  }