
.text {
  height: auto;
  display: flex;
  flex-direction: column;
 }

.content {
  margin-top: auto;
}
span{
  display: block;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
}
.portfolio_photo {
  width: 500px; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
}

p {
  font-family: "Lora", serif;
}
