:root {
  --headind-color: #5a6275;
  --text-color: #979da9;
  --light-color: #f8f9fa;
  --heading-font: "Montserrat", sans-serif;
  --text-font: "Lora", serif;
  --focus-color: #e56f82;
  --dark-color: #373b43;
  --dark-focus:#26282e;
  --dark-footer: #121316;
}

:target {
  scroll-margin-top: 76px;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-out;
  background-color: var(--light-color);
}
/* Dark mode */

#toggleBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

#toggleBtn:hover {
  background: transparent;
  transition: all 0.3s ease-out;
}

#toggleBtn img {
  width: 20px;
}

body.dark {
  background: var(--dark-color);
  color: var(--light-color);
}

body.dark h1 {
  color: var(--focus-color);
}

body.dark .footer {
  background: var(--dark-footer);
  transition: all 0.3s ease-out;
}

body.dark .education__card, body.dark .my-projects__card{
  background-color: var(--dark-focus);
}



body.dark .nav-link{
  color: var(--light-color);
}

.dark_navbar{
  background-color: var(--dark-color);
}

/* Navbar */

.navbar{
  transition: all 0.3s ease-out;
}

.navbar-brand {
  font-family: var(--heading-font);
  font-size: 17px;
  color: var(--focus-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--focus-color);
}

/* Main content */

.main {
  margin-top: 17px;
}

.text {
  height: auto;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: auto;
}
span {
  display: block;
}

h1 {
  font-family: var(--heading-font);
  font-size: 7vmin;
  text-align: left;
  text-transform: uppercase;
  color: var(--headind-color);
}

h2 {
  margin-bottom: 20px;
  font-family: var(--heading-font);
  font-size: 4vmin;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color);
}
.portfolio_photo {
  width: 500px; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
  margin: 15px 0px;
}
hr {
  margin-top: 0;
}

/* About me section */

.number {
  font-size: 15vw;
  text-align: center;
  margin-top: 10px;
  padding-top: 50px;
}

.about-me__focus_line {
  border: 0;
  width: 10%;
  background-color: var(--focus-color);
  height: 2px;
  opacity: 1;
}

p {
  font-family: var(--text-font);
}

li {
  font-family: var(--text-font);
}

li::marker {
  color: var(--focus-color);
}

.about_titles {
  text-align: center;
}

.image-container {
  background-color: white;
  height: 45%;
  border-radius: 5%;
}

.education_cards {
  margin: 0 auto;
  display: block;
}

.education__body{
  height: 30vh;
}

.education_date {
  color: var(--headind-color);
  font-weight: 700;
}

.education__card {
  position: relative;
  transition: all 0.5s ease-out;
}

.card-text__list{
  font-size: 2.3vmin;
}

.education__card a {
  position: absolute;
  bottom: 3%;
}

.edu_images {
  display: block;
  margin: 30px auto;
  height: 70%;
}

.languages_container {
  width: 70%;
}

.language {
  text-transform: uppercase;
  font-family: var(--heading-font);
  color: var(--focus-color);
}

.language_gorizontal-icon {
  color: var(--headind-color);
}
.language_vertical-icon {
  display: none;
  color: var(--headind-color);
}

/* My projects section */

#my_projects {
  margin-top: 30px;
  font-family: var(--heading-font);
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
  color: var(--text-color);
}
.my-projects__focus_line {
  max-width: 150px;
  margin: 0 0 0 85%;
  border: 0;
  background-color: var(--focus-color);
  height: 2px;
  opacity: 1;
}
.card-title {
  font-family: var(--heading-font);
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
  color: var(--text-color);
}

.my-projects__cards {
  margin: 0 5%;
}

.my-projects__card{
transition: all 0.3s ease-out;
}

.know-more__links {
  color: var(--focus-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

.know-more__links:hover {
  text-decoration: none;
  color: var(--headind-color);
}

/* Contact me section */

.contact-me__container {
  margin: 5% 5%;
}
.contact-me_links {
  color: var(--focus-color);
  letter-spacing: 0.2rem;
  text-decoration: none;
}
.border-end {
  border-color: var(--focus-color) !important;
}

/*Footer*/
.footer {
  background-color: var(--headind-color);
  color: var(--light-color);
  font-family: var(--text-font);
  transition: all 0.3s ease-out;
}

h4 {
  text-align: center;
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 16px;
  color: var(--focus-color);
  border-bottom: 1px solid var(--focus-color);
  padding-bottom: 3px;
}

.footer a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 0.3s;
}
.footer li {
  color: var(--light-color);
}

.footer a:hover {
  color: var(--focus-color);
}
.know_more,
.contacts,
.social_media {
  padding: 10px;
}

div .know_more {
  text-align: center;
}

.know_more li {
  display: inline;
  margin: 5px;
}

.footer_icons {
  text-align: center;
}

.footer_icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}

.source_link {
  text-align: center;
  padding: 0 0 10px 0;
}

.coder_name {
  display: inline;
  color: var(--focus-color);
  font-family: var(--heading-font);
  text-transform: uppercase;
}

@media (max-width: 560px) {
  .language_vertical-icon {
    display: block;
  }
  .language_gorizontal-icon {
    display: none;
  }

  .number {
    font-size: 30vw;
    padding-top: 0;
  }
  .main-part__griiting {
    display: none;
  }
  .text {
    padding-top: 20px;
  }
  .border-end {
    border-color: transparent !important;
  }
}

@media (max-width: 1200px) {
  .contact-me_links {
    word-break: break-all;
  }
}

@media (max-width: 995px) {
   h1 {
    font-size: 6vmin;
  }
}
